html {
  background-image: url(img/slider2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}
img {
  z-index: 1;
  position: relative;
  left: 800px;
  top: 200px;
}
div {
  width: 620px;
  height: 600px;
  background-color: white;
  font-size: 12.5px;
  text-align: end;
  font-weight: 600;
  position: relative;
  float: right;
  z-index: 2;
}
h1 {
  padding-right: 5px;
}
p {
  padding: 2px 5px;
}
